*{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-decoration: underline;
    text-align: center;
}

h2{
    color:cornflowerblue
}

li{
    font-size: 17px;
}

#general-list{
    color:chocolate
}

p{
    margin: 10px;
    font-style: italic;
    font-size: 16px;
}

a{
    font-size: 30px;
}

.headfoot{
    text-align: center;
}